* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #515076;
  font-weight: 400;
} 

.title  {
  position: relative; 
  z-index: 1;  
  margin: 0; 
  font-size: 70px;
}

.title-container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px; 
  margin-top: 50px; 
  margin-bottom: 50px;
  background-image: url("img/bg_flowers.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 50%;  
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}

.card-container {
  width: 340px;
  min-height: 573px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
}

.card-container img {
  align-self: center;
  margin-bottom: 15px;
}
.card-container p {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0; 
}

.card-container p b {
  font-weight: 700;
}

.product-category {
  width: 250px;
  height: 24 px;
  color: #A5A3B9;
  padding: 5px 4px;
 box-sizing: border-box;
}

.product-name {
  width: max-content;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
}

.product-compound {
  padding-top: 5px;
  padding-left: 15px;
}
.product-compound-list {
  padding-top: 5px;
  font-size: 13px;
}

.product-price-label {
 font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.compound-name {
  font-size: 13px;
}